.tvs-page-movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.tvs-page-movie-card {
	width: calc(33.33% - 20px);
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding-bottom: 25px;
}

.tvs-page-movie-image {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.tvs-page-movie-info {
	display: flex;
	align-items: center;
}

.tvs-page-movie-title {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #010101;
}

.tvs-page-movie-rating {
	display: flex;
	align-items: center;
	margin-left: 10px;
	color: #f1c40f;
}

.tvs-page-star-icon {
	margin-right: 5px;
}
